{% extends 'base.html' %}
{% load static %}
{% block metadescripation %}

    {{product.descripation|truncatewords:155 }}
{% endblock %}
{% block title %}
    {% if category %}
        {{ product.name }} -TR store
    {% endif %}
{% endblock %}
{% block content %}

<div>
    <div>
        <p> <a href="{% url 'shopapp:allProdcat' %}">Home</a>|<a href="{{product.category.get_url}}">{{product.category}}</a>|{{product.name}}</p>
    </div>
</div>
<br>
<div>
    <div>
        <div>
            <img src="{{product.image.url}}" alt="{{product.name}}">

        </div>
    </div>
<div>
     <div>
            <h1>{{product.name}}</h1>
            <p>${{product.price}}</p>
             <p>{{product.description}}</p>
            {% if product.stock <= 0 %}
            <p><b>Out of stock</b></p>
            {% else %}
            <a href="">Add to Cart</a>
            {% endif %}
    </div>
</div>

</div>

{% endblock %}